*{margin: 0;padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
img { width: 100%;display: block; }
input,button{ border: none; border-radius: 0;}
html { font-family: "microsoft yahei", "Arial"; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; width: 100%; height: 100%; /*font-size: 62.5%;*/}
body { min-width: 320px; background: #fafafa; width: 100%; height: 100%;
    tap-highlight-color: rgba(0,0,0,0); 
    focus-focus-ring-color: rgba(0, 0, 0, 0); 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);}
#content{ max-width:640px; margin:0 auto; width: 100%; height: 100%;}
.swiper-main{ max-height: none;}
.swiper-slide{ overflow: hidden; background: none;}
.bd{ border-image: url(data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch; border-width: 0;}

/*头部样式*/
.index-header{ height: 45px; padding: 7px 12px; overflow: hidden;}
.index-header .address{ float: left; width: 15%; margin-top: 5px; margin-right: 2%;}
.index-header .address span{ font-size: 14px; color: #d30775; position: relative;}
.index-header .address span:after{ content:""; width: 5px; height: 5px; border-top: 1px solid #d30775; border-right: 1px solid #d30775; 
	-webkit-transform:rotate(135deg); transform:rotate(135deg); position: absolute; top: 4px; right: -10px;}	
.index-header .search{ border: 1px solid #dcdcdc; border-radius: 2px; float: left; width: 73%; height: 30px; line-height: 28px;}
.index-header .search p{ color: #aaa; font-size: 15px; width: 100%; padding-left: 35px; position: relative;}
.index-header .search p:before{ content:""; background: url(http://pic.lvmama.com/mobile/coding/v2/home/img/fangdajing.png) 0 0 no-repeat;
	width: 15px; height: 15px; -webkit-background-size: 100% 100%; background-size: 100% 100%; position: absolute; left: 12px;
	top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.index-header .myself{ float: right; width: 10%; margin-top: 4px;}
.index-header .myself a{ display: block; width: 100%; height: 30px;}
.index-header .myself span{ background: url(http://pic.lvmama.com/mobile/coding/v2/home/img/pp.png) 0 0 no-repeat; width: 21px; height: 22px;
	-webkit-background-size: 100% 100%; background-size: 100% 100%; display: block; float: right;}

.img-wrap{ height: 0; background-size: 100px 100px!important;
	background: url(http://pic.lvmama.com/mobile/zt/3.0.0/img/loading.png) center center no-repeat;}
.banner .img-wrap{ padding-bottom: 31.32%; background-size: 150px 150px!important;}
.tablist .pro-module .img-wrap{ padding-bottom: 36.23%; background-size: 150px 150px!important; position: relative;}
.custom-module .top-module li:first-child .img-wrap{ padding-bottom: 73.59%;}
.custom-module .top-module li .img-wrap{ padding-bottom: 36.92%;}
.custom-module .bottom-module li .img-wrap{ padding-bottom: 54%;}
.mp-vip ul li .img-wrap{ padding-bottom: 37%;}
.qianggou .hot-activity ul li .img-wrap{ padding-bottom: 38.93%;}

section .fenlei1{ overflow: hidden; padding: 8px 4px 0; background: #fff; border-bottom-width: 1px;}
section .fenlei1 ul li{ float: left; width: 25%; margin-bottom: 8px; padding: 0 4px;}
section .fenlei1 ul li a{ display: block; height: 0; padding-bottom: 71.69%;}
.fenlei1 img{ width: 100%; -webkit-transform:scale(.5); transition: 0.5s;}

section .fenlei2{ margin: 5px 8px 0; overflow: hidden;}
section .fenlei2 ul li{ display: block; float: left; width: 23.5%; text-align: center; margin: 0 2% 5px 0; background: #fff; position: relative;}
section .fenlei2 ul li:nth-child(4n){ margin-right: 0;}
section .fenlei2 ul li a{ display: block; height: 0; padding-bottom: 50.85%;}

section .toutiao{ padding:7px 10px; background: #fff; border-top-width: 1px; border-bottom-width: 1px; position: relative;}
section .toutiao img{ width: 80px; display: inline-block; vertical-align: middle; position: absolute; top: 50%;
	-webkit-transform:translateY(-50%); transform:translateY(-50%);}
section .toutiao .scroll-bar{ font-size: 12px; width: 100%; height: 20px;
    overflow: hidden; position: relative; margin-left: 10px; padding-left: 75px;}
section .toutiao .scroll-bar ul{ overflow: hidden; position: absolute; top: 0; left:0; width: 100%; padding-left: 75px;}
section .toutiao .scroll-bar ul li a{ display: block;}
section .toutiao .scroll-bar ul li span{ border: 1px solid #ff740d; border-radius: 1px; font-size: 12px; color: #ff740d; 
	width: 30px; height: 18px; line-height: 16px; display: inline-block; overflow: hidden; text-align: center; vertical-align: middle;}
section .toutiao .scroll-bar ul li p{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px;
	width: 80%; color: #666; display: inline-block; margin-left: 5px; line-height: 18px; vertical-align: middle;}

.huichang{ padding-top: 10px; margin: 10px 0; border-top-width: 1px; border-bottom-width: 1px; 
	background: url(http://pic.lvmama.com/mobile/coding/v2/home/img/bg.png) repeat; background-size: cover;}

.huichang .show2 .branch-huichang{ padding: 10px 15px; overflow: hidden;}
.huichang .show2 .branch-huichang img{ float: left; width: 49%; margin-right: 2%;}
.huichang .show2 .branch-huichang a:last-child img{ margin-right: 0;}

.huichang .show3 .branch-huichang{ padding: 10px 15px; overflow: hidden;}
.huichang .show3 .branch-huichang img{ float: left; width: 25%;}

.mp-vip{ background: #fff; overflow: hidden; margin-top: 10px;}
.mp-vip .title{ font-size: 14px; color: #666; line-height: 30px; padding-left: 15px;  border-top-width: 1px; border-bottom-width: 1px;}
.mp-vip ul li{ float: left; width: 50%; border-right-width: 1px; border-bottom-width: 1px;}
.mp-vip ul li:nth-child(2n){ border-right-color: transparent;}

.custom-module{ border-top-width: 1px; border-bottom-width: 1px; background: #fff;}
.custom-module .top-module{ width: 100%; border-bottom-width: 1px; overflow: hidden;}
.custom-module .top-module li{ float: left; width: 50%;}
.custom-module .top-module li:nth-child(2){ border-left-width: 1px; border-bottom-width: 1px;}
.custom-module .top-module li:nth-child(3){ border-left-width: 1px;}
.custom-module .bottom-module{ width: 100%; overflow: hidden;}
.custom-module .bottom-module li{ float: left; width: 33.33%; border-right-width: 1px;}
.custom-module .bottom-module li:last-child{ border-right-color: transparent;}

.qianggou{ background: #fff; margin: 10px 0;}
.qianggou .title{ padding: 0 10px; line-height: 32px; overflow: hidden; font-size: 12px; border-top-width: 1px; border-bottom-width: 1px;}
.qianggou .title p{ float: left; }
.qianggou .title span{ float: right; color: #d30775; position: relative; padding-right: 8px;}
.qianggou .title span:after{ content:""; width: 7px; height: 7px; border-top: 1px solid #d30775; border-right: 1px solid #d30775; 
	-webkit-transform:rotate(45deg); transform:rotate(45deg); position: absolute; top: 12px; right: 0;}
.qianggou .custom{ padding: 10px; padding-bottom: 0;}
.qianggou .custom .prd-list{ overflow-x: scroll; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
.qianggou .custom .prd-list .huadong{ width: auto; white-space: nowrap; font-size: 0;}
.qianggou .custom .prd-list .huadong a{ display: inline-block; position: relative; margin-right: 5px;}
.qianggou .custom .prd-list .huadong a:last-child{ margin-right: 0;}
.qianggou .custom .prd-list .huadong .price{ position: absolute; top: 0; right: 0; background: #ff720e; color: #fff; font-size: 9px;
	line-height: 15px; height: 15px; text-align: center; padding: 0 3px; border-bottom-left-radius: 5px;}
.qianggou .custom .prd-list .huadong i{ font-size: 12px;}
.qianggou .custom .prd-list .huadong .name{ position: absolute; bottom: 0; right: 0; background: rgba(0,0,0,0.6); color: #fff; font-size: 12px;
	line-height: 23px; height: 23px; padding: 0 5px 0 10px; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.qianggou .custom .prd-list .huadong .img-wrap{ width: 106px; height: auto;}
.qianggou .custom .prd-list .huadong .img-wrap .prd-pic{ background: url(http://pic.lvmama.com/uploads/pc/place2/2015-09-24/8e81ac3d-9fa1-4c84-8a2d-68eadf42cb9f_720_.jpg) no-repeat center center;
    padding-bottom: 88.68%; height: 0; background-size: cover;}
.qianggou .hot-activity{ overflow: hidden; border-top-width: 1px; border-bottom-width: 1px;}
.qianggou .hot-activity ul li{ float: left; width: 50%;}
.qianggou .hot-activity ul li:nth-child(1){ border-right-width: 1px;}
.tabChange{ display: block;}
.tablist{ border-top-width: 1px;}
.tablist nav{ overflow: hidden; height: 44px; line-height: 44px; text-align: center; background: #fff;}
.tablist nav ul li{ font-size: 14px; width: 25%; float: left;}
.tablist .msg{ padding: 10px;}
.tablist .msg p.name_tit{ font-size: 14px; color: #000;}
.tablist .msg p.bewrite{ font-size: 12px; color: #666; line-height: 16px; overflow : hidden; text-overflow: ellipsis; white-space: nowrap;}
.tablist .pro-module{ margin-bottom: 10px; border-top-width: 1px; border-bottom-width: 1px; background: #fff;}
.tablist .pro-module .img-wrap .mark{ position: absolute; top: 10px; left: 10px; color: #fff; font-size: 12px; background: rgba(0,0,0,0.5); padding: 0 7px;}
.tablist .pro-module .img-wrap .mark i{ padding: 0 5px;}
.tablist .pro-module .img-wrap .price{ position: absolute; right: 0; bottom: 10px; text-align: center;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; overflow: hidden;}
.tablist .pro-module .img-wrap .price p{ background: #ff720e; color: #fff; font-size: 12px; padding: 5px 10px;}
.tablist .pro-module .img-wrap .price p i{ font-size: 20px;}
.tablist .pro-module .img-wrap .price span{ background: #fff; color: #ff720e; font-size: 12px; display: block; line-height: 24px; padding: 0 10px;}

.index-footer{ text-align: center; }
.index-footer .list{ overflow: hidden; background: #fff; height: 43px; line-height: 43px; font-size: 14px;
	border-top-width: 1px; border-bottom-width: 1px;}
.index-footer .list li{ float: left; width: 25%;}
.index-footer .list li span{ color: #333; border-right-width: 1px; display: block; height: 27px; line-height: 27px; margin-top: 8px;}
.index-footer .other{ font-size: 10px; color: #666; padding: 9px 0 7px;}
.index-footer .other ul{ overflow: hidden; width: 200px; margin: 0 auto;}
.index-footer .other ul li{ float: left; width: 50px; border-right-width: 1px;}
.index-footer .other ul li:nth-child(2){ color: #333;}
.index-footer .other p{ margin-top: 5px;}

/*更多页面样式*/
.more_recommend{ padding-bottom: 10px;}
.more_recommend .more-header{ height: 45px; padding: 7px 12px; border-bottom-width: 1px; position: relative;} 
.more_recommend .more-header span{ width: 12px; height: 12px; border-top: 2px solid #d30775; border-left: 2px solid #d30775; position: absolute; top: 50%; left: 12px;
    -webkit-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg);}
.more_recommend .more-header p{ font-size: 21px; text-align: center; color: #010101; line-height: 32px;}
.more_recommend .plate{ background: #fff; border-top-width: 1px; margin-top: 10px;}
.more_recommend .plate .title{ height: 45px; line-height: 45px; font-size: 16px; color: #000; padding-left: 15px; position: relative;}
.more_recommend .plate .title:before{ content:""; width: 5px; height: 45px; position: absolute; top: 0; left: 0;}
.more_recommend .plate .title span.bottom-arrow{ width: 12px; height: 12px; border-top: 1px solid #777; border-left: 1px solid #777; position: absolute; top: 35%; right: 15px;
    -webkit-transform: rotate(-135deg); transform: rotate(-135deg);}
.more_recommend .plate .title span.top-arrow{ width: 12px; height: 12px; border-top: 1px solid #777; border-left: 1px solid #777; position: absolute; top: 50%; right: 15px;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.more_recommend .plate:first-child .title:before{ background: #d30775;}
.more_recommend .plate:nth-child(2) .title:before{ background: #ff740c;}
.more_recommend .plate:nth-child(3) .title:before{ background: #7ac72f;}
.more_recommend .plate:nth-child(4) .title:before{ background: #5698dc;}
.more_recommend .plate ul{ overflow: hidden; border-bottom-width: 1px; border-top-width: 1px;}
.more_recommend .plate ul li{ width: 33.33%; float: left; border-bottom-width: 1px; border-right-width: 1px;}
.more_recommend .plate ul li:nth-child(3n){ border-right-color: transparent;}
.hidden,.count{display: none}

.tab_style{
	color: #fff;
	background: #d30775;
	border-radius: 20px;
    padding: 5px 10px;
}
.plate>ul{
	overflow: hidden;
}
.plate>ul.transition{
	-webkit-transition: 500ms;
	transition: 500ms;
}
.loading-img,.loading-ed {
	height: 35px;
	position: relative;
	text-align: center;
}
.loading-img span {
	display: inline-block;
	line-height: 30px;
	position: relative;
	padding-left: 40px;
}
.loading-img span:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("http://pic.lvmama.com/mobile/coding/v2/home/img/loading-img.png");
}
.loaded{
	padding-left: 0;
}
.banner{
  position: relative; overflow: hidden; height: 110px;
}
.img{
	width: 100% !important; display: block;
	-webkit-transform:none !important;
}
.more_red_point{ display: block; background: #c5107B; border-radius: 50%; width: 12px; height: 12px; top: 18%; right: 8%; position: absolute; z-index: 1;}
#tab_con article.fdiv {display:block;}
#tab_con article{display: none;}